<!DOCTYPE html>
<html lang="en">
<head...>

<body>

<b> Welcome to Java developer course </b>

<h1 align="right" style="color: aqua"> Malika loves chocolate ice-cream </h1>
<h2>Malika Juraholova</h2>
<h3>Kamila Juraholova</h3>
<h4>Aziza Rakhmonova</h4>
<h5>Spring boot</h5>

<img src="https://www.dreamstime.com/photos-images/beach.html.png" alt="Spring boot image">

<a href="https://foundationmedicine.com/">FMI</a>

<br>
<br>
<table>
    <tr>
        <td>FirstName</td>
        <td>LastName</td>
        <td>Salary</td>
    </tr>
    <tr>
        <td>Mike</td>
        <td>Smith</td>
        <td>120000</td>
    </tr>

</table>


<br>
<label>Username</label>
<input type="text" name="username">
<br>
<label>Password</label>
<input type="password">
<br>
<label>Enter your comments</label>
<textarea name="comments"></textarea>
<br>
<label>Please select your gender</label>
<input type="checkbox" name="course" value="spring">Spring
<input type="checkbox" name="course" value="DS">DS
<input type="checkbox" name="course" value="Java">Java
<br>
<label>Select your program</label>
<select>
    <option value="us-sdet">US SDET</option>
    <option value="europe_sdet">EU SDET</option>
</select>
<br>
<br>
    <form action="#" method="get">
        FirstName: <input type="text" name="first name">
        <br>
        LastName: <input type="text" name="last name">
        <br>
        <input type="button" value="submit">
    </form>
<br>
<br>
<div style="background-color: darkseagreen">
    <h3>Malika is awesome</h3>
    <ul>
        <li>Kamila</li>
        <li>Aziza</li>
    </ul>
</div>


<label>Please select your fauvorite courses</label>
<input type="radio" name="gender" value="Male">Male
<input type="radio" name="gender" value="Female">Female
<ul>
    <li>JAVA</li>
    <li>MVC</li>
    <li>SELENIUM</li>
    <li>SQL</li>
    <li>PYTHON</li>
</ul>

</body>
</head...>
</html>
